In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_excel('/content/combine_19_20_21_sale.xlsx')

In [ ]:
df.head()

   Unnamed: 0 Created Date  TMAX  ...     Avg_Sales     Zip_income    Income
0           0   2019-01-03    68  ...   6583.000000  100885.000000  100885.0
1           1   2019-01-04    69  ...   6542.500000  112823.177778   25694.2
2           2   2019-01-05    53  ...  11057.800000   92705.000000   92705.0
3           3   2019-01-06    58  ...   5815.000000   41483.776667   14062.0
4           4   2019-01-07    60  ...   7918.583333  108119.473333  109814.0

[5 rows x 8 columns]

In [ ]:
df=df.drop(['Unnamed: 0','Zip_income'],axis=1)

In [ ]:
df=df.drop(['Avg_Sales'],axis=1)

In [ ]:
df=df.drop_duplicates(ignore_index=True)

In [ ]:
df.columns

Index(['Created Date', 'TMAX', 'Completed_Jobs', 'tech_count', 'Income'], dtype='object')

In [ ]:
from fbprophet import Prophet

In [ ]:
my_df=df.reset_index()[['Created Date', 'TMAX','Completed_Jobs','tech_count','Income']].rename({'Created Date':'ds','TMAX':'TMAX','Completed_Jobs':'Completed_Jobs','tech_count':'tech_count','Income':'y'},axis='columns')

In [ ]:
my_df

            ds  TMAX  Completed_Jobs  tech_count          y
0   2019-01-03    68              90          42  100885.00
1   2019-01-04    69              85          46   25694.20
2   2019-01-05    53              82          22   92705.00
3   2019-01-06    58              16          12   14062.00
4   2019-01-07    60              89          63  109814.00
..         ...   ...             ...         ...        ...
719 2021-04-30    81             222         126  210099.11
720 2021-05-01    68             168          75  119775.95
721 2021-05-05    69             202         124  230699.43
722 2021-05-08    68             109          75  112431.95
723 2021-05-13    63             177         114  199708.63

[724 rows x 5 columns]

In [ ]:
my_df.isnull().sum()

ds                0
TMAX              0
Completed_Jobs    0
tech_count        0
y                 0
dtype: int64

In [ ]:
import plotly.express as px

In [ ]:
fig=px.line(my_df, x='ds',y='y',hover_data=['TMAX','Completed_Jobs','tech_count',],title='income')

fig.update_xaxes(
    rangeslider_visible=True,
    rangeselector=dict(
        buttons=list([
            dict(count=1,label='1m',step='month',stepmode='backward'),
            dict(count=2,label='4m',step='month',stepmode='backward'),
            dict(count=2,label='8m',step='month',stepmode='backward'),

            dict(count=3,label='12m',step='month',stepmode='backward'),
            dict(step='all')
        ])
    )
)

fig.show()

In [ ]:
#my_df[['month','tech_count']].groupby('month').agg({"tech_count":{'max','min','mean'}})

In [ ]:
#my_df[['month','Completed_Jobs']].groupby('month').agg({"Completed_Jobs":{'max','min','mean'}})

In [ ]:

#my_df[['month','TMAX']].groupby('month').agg({"TMAX":{'max','min','mean'}})

In [ ]:
#my_df[['month','Avg_Sales']].groupby('month').agg({"Avg_Sales":{'max','min','mean'}})

In [ ]:
#my_df[['y','tech_count']].corr()

In [ ]:
#my_df.query('tech_count<52')[['y','tech_count']].corr()

In [ ]:


#my_df[['y','Completed_Jobs']].corr()

In [ ]:


#my_df.query('Completed_Jobs<106')[['y','Completed_Jobs']].corr()

In [ ]:

#my_df[['y','TMAX']].corr()

In [ ]:
#my_df.query('TMAX<97')[['y','TMAX']].corr()

In [ ]:

#my_df[['y','Avg_Sales']].corr()

In [ ]:
#my_df.query('Avg_Sales<2500')[['y','Avg_Sales']].corr()

In [ ]:
def summer_temp(TMAX):
  if TMAX >97:
    return 1
  else:
    return 0

In [ ]:
def summer_jobs(Completed_Jobs):
  if Completed_Jobs >106:
    return 1
  else:
    return 0

In [ ]:
def summer_tech(tech_count):
  if tech_count >52:
    return 1
  else:
    return 0

In [ ]:
def summer_avg_sales(Avg_Sales):
  if Avg_Sales>2500:
    return 1
  else:
    return 0

In [ ]:
#my_df['summer_temp']=my_df['TMAX'].apply(summer_temp)

In [ ]:
#my_df['summer_jobs']=my_df['Completed_Jobs'].apply(summer_jobs)

In [ ]:
#my_df['summer_tech']=my_df['tech_count'].apply(summer_tech)

In [ ]:
#my_df['summer_avg_sales']=my_df['Avg_Sales'].apply(summer_avg_sales)

In [ ]:
my_df

            ds  TMAX  Completed_Jobs  tech_count     Avg_Sales          y
0   2019-01-03    68              90          42   6583.000000  100885.00
1   2019-01-04    69              85          46   6542.500000   25694.20
2   2019-01-05    53              82          22  11057.800000   92705.00
3   2019-01-06    58              16          12   5815.000000   14062.00
4   2019-01-07    60              89          63   7918.583333  109814.00
..         ...   ...             ...         ...           ...        ...
719 2021-04-30    81             222         126   3494.939333  210099.11
720 2021-05-01    68             168          75   4079.521639  119775.95
721 2021-05-05    69             202         124   3481.447857  230699.43
722 2021-05-08    68             109          75   4314.042857  112431.95
723 2021-05-13    63             177         114   3539.839216  199708.63

[724 rows x 6 columns]

In [ ]:
#my_df['month_bins']=pd.cut(my_df['month'],bins=3,labels=False)

In [ ]:
my_df

            ds  TMAX  Completed_Jobs  tech_count     Avg_Sales          y
0   2019-01-03    68              90          42   6583.000000  100885.00
1   2019-01-04    69              85          46   6542.500000   25694.20
2   2019-01-05    53              82          22  11057.800000   92705.00
3   2019-01-06    58              16          12   5815.000000   14062.00
4   2019-01-07    60              89          63   7918.583333  109814.00
..         ...   ...             ...         ...           ...        ...
719 2021-04-30    81             222         126   3494.939333  210099.11
720 2021-05-01    68             168          75   4079.521639  119775.95
721 2021-05-05    69             202         124   3481.447857  230699.43
722 2021-05-08    68             109          75   4314.042857  112431.95
723 2021-05-13    63             177         114   3539.839216  199708.63

[724 rows x 6 columns]

In [ ]:

my_df['f2']=np.sqrt(my_df['Completed_Jobs']**3)*np.abs(my_df['Avg_Sales'])
my_df['f3']=np.abs(np.sqrt(my_df['Completed_Jobs']) - np.sqrt(my_df['tech_count']))
my_df['f4']=np.log(np.sqrt(my_df['Completed_Jobs'])*my_df['TMAX']**3)

In [ ]:
my_df.columns

Index(['ds', 'TMAX', 'Completed_Jobs', 'tech_count', 'Avg_Sales', 'y'], dtype='object')

In [ ]:
my_df=my_df.drop_duplicates(ignore_index=True)

In [ ]:
train=my_df[(my_df['ds']>='2019-01-03') & (my_df['ds']<='2020-12-31')]

In [ ]:
test=my_df[(my_df['ds']>'2020-12-31')]

In [ ]:
train

            ds  TMAX  Completed_Jobs  tech_count          y
0   2019-01-03    68              90          42  100885.00
1   2019-01-04    69              85          46   25694.20
2   2019-01-05    53              82          22   92705.00
3   2019-01-06    58              16          12   14062.00
4   2019-01-07    60              89          63  109814.00
..         ...   ...             ...         ...        ...
600 2020-12-23    70              50          22  104509.01
601 2020-12-28    54             100          61   96828.96
602 2020-12-29    61             127          53  108327.11
603 2020-12-30    69             118          49   99625.26
604 2020-12-31    65             105          40   76878.35

[605 rows x 5 columns]

In [ ]:
train.shape,test.shape

((605, 5), (119, 5))

In [ ]:
train=train.drop_duplicates(ignore_index=True)

In [ ]:
m=Prophet(interval_width=0.95)

In [ ]:
train.columns

Index(['ds', 'TMAX', 'Completed_Jobs', 'tech_count', 'y'], dtype='object')

In [ ]:
m.add_regressor('TMAX',standardize=False)
m.add_regressor('Completed_Jobs',standardize=False,mode='multiplicative')
m.add_regressor('tech_count',standardize=False,mode='multiplicative')

In [ ]:
m.fit(train)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [ ]:
m.params

{'beta': array([[ 1.40484133e-02, -2.49520574e-03, -1.25355673e-02,
         -9.12651436e-03, -1.04061090e-03,  1.02510805e-02,
         -3.66912319e-04,  6.40062697e-01,  9.80912175e-02]]),
 'delta': array([[-2.65889860e-05,  1.11484389e-06, -1.01689542e-05,
         -1.07243292e-02, -2.70215048e-06,  1.37028519e-02,
          1.48149517e-02, -3.36120839e-02,  1.05645647e-08,
          3.75021722e-04,  2.45945808e-05,  3.26678807e-03,
          3.23429282e-02,  3.48203380e-03, -5.38708268e-02,
          2.75447980e-02, -8.22704020e-04, -3.49401238e-05,
          1.90178469e-04,  4.22991836e-02, -6.25916887e-02,
          5.15576103e-05,  1.81817296e-02,  1.33755589e-02,
         -1.88433657e-02]]),
 'k': array([[0.00446563]]),
 'm': array([[0.00368247]]),
 'sigma_obs': array([[0.08637762]]),
 'trend': array([[0.00368247, 0.00368861, 0.00369474, 0.00370088, 0.00370701,
         0.00371314, 0.00371928, 0.00372541, 0.00373155, 0.00373768,
         0.00374381, 0.00374995, 0.00376222, 0.00376835, 0.00377449,
         0.00378062, 0.00378675, 0.00379289, 0.00379902, 0.00380516,
         0.00381125, 0.00381735, 0.00382345, 0.00382955, 0.00383564,
         0.00384174, 0.00384784, 0.00385394, 0.00386003, 0.00386613,
         0.00387833, 0.00388442, 0.00389662, 0.00390272, 0.00390881,
         0.00392101, 0.00392711, 0.00393321, 0.0039393 , 0.00396369,
         0.00397589, 0.00398199, 0.00398809, 0.00399419, 0.00400639,
         0.00401249, 0.00401859, 0.00403078, 0.00403688, 0.00404908,
         0.00406128, 0.00406738, 0.00407348, 0.00407958, 0.00409177,
         0.00409787, 0.00410397, 0.00411007, 0.00411617, 0.00412226,
         0.00412834, 0.00413443, 0.00414051, 0.0041466 , 0.00415268,
         0.00415877, 0.00416485, 0.00417702, 0.00418311, 0.00418919,
         0.00419528, 0.00420136, 0.00420745, 0.00421353, 0.00421962,
         0.0042257 , 0.00423179, 0.00423787, 0.00422923, 0.00422058,
         0.00420329, 0.00419464, 0.004186  , 0.00417735, 0.00416871,
         0.00416006, 0.00414277, 0.00413412, 0.00412548, 0.00411683,
         0.00411683, 0.00410818, 0.00409954, 0.00408224, 0.0040736 ,
         0.0040736 , 0.00406495, 0.00405631, 0.00404766, 0.00401306,
         0.00400441, 0.00399576, 0.00398711, 0.00397846, 0.00396116,
         0.00395251, 0.00394386, 0.00393521, 0.00392656, 0.00391791,
         0.00389196, 0.00387466, 0.00386601, 0.00385736, 0.00384871,
         0.00384006, 0.00383141, 0.00384159, 0.00385176, 0.00386193,
         0.0038721 , 0.00388228, 0.00390262, 0.00391279, 0.00392297,
         0.00393314, 0.00394331, 0.00396366, 0.00397383, 0.003984  ,
         0.00399418, 0.00400435, 0.00401452, 0.0040247 , 0.00403487,
         0.00404504, 0.00407556, 0.00410609, 0.00413661, 0.00416713,
         0.00419766, 0.00422818, 0.0042587 , 0.00428923, 0.00431975,
         0.00435027, 0.00438079, 0.00444184, 0.00447236, 0.00450289,
         0.00453341, 0.00456393, 0.00462498, 0.00471655, 0.00477759,
         0.00480812, 0.00477682, 0.00476117, 0.00474553, 0.00472988,
         0.00471423, 0.00469858, 0.00468294, 0.004636  , 0.00462035,
         0.0046047 , 0.00458905, 0.00455776, 0.00454211, 0.00452646,
         0.00451082, 0.00447952, 0.00443258, 0.00441693, 0.00440128,
         0.00438564, 0.00436999, 0.00433869, 0.00432305, 0.0043074 ,
         0.00429175, 0.00426046, 0.00422916, 0.00419787, 0.00416657,
         0.00415093, 0.00411963, 0.00410398, 0.00408834, 0.00407269,
         0.00405704, 0.00402575, 0.0040101 , 0.0039788 , 0.00396367,
         0.00394854, 0.00388801, 0.00384261, 0.00382748, 0.00381235,
         0.00379722, 0.00378208, 0.00378208, 0.00376695, 0.00373669,
         0.00372156, 0.00369129, 0.00367616, 0.00366103, 0.00364589,
         0.00363076, 0.00361563, 0.00358536, 0.00357023, 0.00354004,
         0.00350984, 0.00347964, 0.00346454, 0.00343435, 0.00341925,
         0.00340415, 0.00337395, 0.00335885, 0.00334376, 0.00332866,
         0.00331356, 0.00329846, 0.00326826, 0.00325316, 0.00323807,
         0.00322297, 0.00320787, 0.00319277, 0.00317155, 0.00316094,
         0.00315033, 0.00313971, 0.0031291 , 0.00311849, 0.00308666,
         0.00306544, 0.00305483, 0.00304421, 0.00302299, 0.00301238,
         0.00300177, 0.00299116, 0.00298055, 0.00296994, 0.00294871,
         0.00292749, 0.00291688, 0.0029507 , 0.00298451, 0.00305214,
         0.00308596, 0.00311978, 0.00315359, 0.00318741, 0.00322122,
         0.00325504, 0.00328886, 0.00332267, 0.00335649, 0.00342412,
         0.00345794, 0.00352557, 0.00355938, 0.00362702, 0.00366083,
         0.00369465, 0.00377185, 0.00381044, 0.00384904, 0.00388764,
         0.00392624, 0.00396484, 0.00400344, 0.00404204, 0.00408064,
         0.00411924, 0.00415784, 0.00419643, 0.00423503, 0.00427363,
         0.00431223, 0.00442803, 0.00446663, 0.00450523, 0.00458242,
         0.00462102, 0.00455022, 0.00451483, 0.00447943, 0.00444403,
         0.00440863, 0.00437323, 0.00423163, 0.00419623, 0.00416083,
         0.00412543, 0.00405463, 0.00401923, 0.00398383, 0.00394843,
         0.00391304, 0.00387764, 0.00384224, 0.00380684, 0.00373604,
         0.00373847, 0.00374091, 0.00374335, 0.00374579, 0.00374822,
         0.00375066, 0.0037531 , 0.00375553, 0.00375797, 0.00376041,
         0.00376528, 0.00377015, 0.00377503, 0.00377746, 0.0037799 ,
         0.00378234, 0.00378477, 0.00378721, 0.00378965, 0.00379096,
         0.00379357, 0.00379488, 0.00379618, 0.00379749, 0.0038001 ,
         0.00380141, 0.00380272, 0.00380402, 0.00380533, 0.00380664,
         0.00380794, 0.00380925, 0.00381056, 0.00381186, 0.00381317,
         0.00381448, 0.00381578, 0.00381709, 0.0038184 , 0.00381966,
         0.00382091, 0.00382217, 0.00382343, 0.00382469, 0.00382595,
         0.00382721, 0.00382847, 0.00382973, 0.00383098, 0.00383224,
         0.0038335 , 0.00383602, 0.00383728, 0.00383854, 0.0038398 ,
         0.00384231, 0.00384357, 0.00384483, 0.00384635, 0.00384787,
         0.00384939, 0.00385091, 0.00385243, 0.00385395, 0.00385547,
         0.00385699, 0.00385851, 0.00386003, 0.00386155, 0.00386307,
         0.00386611, 0.00386763, 0.00386915, 0.00387067, 0.00387219,
         0.00387523, 0.00387675, 0.00393637, 0.003996  , 0.00405562,
         0.00411524, 0.00417487, 0.00423449, 0.00429411, 0.00435374,
         0.00441336, 0.00447298, 0.00459223, 0.00465185, 0.00471148,
         0.0047711 , 0.00489035, 0.00494997, 0.00500959, 0.00518846,
         0.00524809, 0.00530771, 0.00528136, 0.00522865, 0.00520229,
         0.00517594, 0.00514958, 0.00512323, 0.00509688, 0.00507052,
         0.00504417, 0.00499146, 0.0049651 , 0.00493875, 0.0049124 ,
         0.00488604, 0.00483333, 0.00480698, 0.00478062, 0.00475427,
         0.00472791, 0.00470163, 0.00467535, 0.00464906, 0.00462278,
         0.0045965 , 0.00457021, 0.00454393, 0.00451765, 0.00449136,
         0.00446508, 0.0044388 , 0.00441251, 0.00438623, 0.00435995,
         0.00433366, 0.0042811 , 0.00425481, 0.00422853, 0.00417596,
         0.00417465, 0.00417334, 0.00417204, 0.00417073, 0.00416942,
         0.00416811, 0.0041668 , 0.00416418, 0.00416288, 0.00416157,
         0.00416026, 0.00415895, 0.00415764, 0.00415633, 0.00415502,
         0.00415372, 0.00415241, 0.0041511 , 0.00414979, 0.00414848,
         0.00419967, 0.00421674, 0.0042338 , 0.00425087, 0.00426793,
         0.004285  , 0.00430206, 0.00431912, 0.00433619, 0.00435325,
         0.00437032, 0.00438738, 0.00440445, 0.00442151, 0.00443858,
         0.00445564, 0.0044727 , 0.00448977, 0.00450683, 0.00449801,
         0.00448919, 0.00448038, 0.00447156, 0.00446274, 0.00445392,
         0.00443628, 0.00442746, 0.00441864, 0.004401  , 0.00439218,
         0.00438336, 0.00437454, 0.00435691, 0.00434809, 0.00433927,
         0.00433045, 0.00432163, 0.00431281, 0.00430399, 0.00429517,
         0.00428635, 0.00427753, 0.00426871, 0.00425989, 0.00425107,
         0.00424225, 0.00422462, 0.0042158 , 0.00420698, 0.00419816,
         0.00418934, 0.00418052, 0.0041717 , 0.00416288, 0.00415406,
         0.00414524, 0.00413642, 0.0041276 , 0.00411878, 0.00410114,
         0.00409233, 0.00408351, 0.00407469, 0.00406587, 0.00405705,
         0.00404823, 0.00403941, 0.00403059, 0.00402177, 0.00401295,
         0.00400413, 0.00399531, 0.00397767, 0.00396885, 0.00395122,
         0.0039424 , 0.00393358, 0.00391594, 0.00390712, 0.0038983 ,
         0.00388948, 0.00388066, 0.00387184, 0.00386302, 0.0038542 ,
         0.00384538, 0.00383657, 0.00382775, 0.00381893, 0.00379247,
         0.00378365, 0.00377483, 0.00373073, 0.00371309, 0.00369546,
         0.00367782, 0.003669  , 0.00366018, 0.00365136, 0.00364254,
         0.00363372, 0.0036249 , 0.00361608, 0.00359844, 0.00358962,
         0.0035808 , 0.00357199, 0.00356317, 0.00354553, 0.00353671,
         0.00351907, 0.00350143, 0.00349261, 0.00348379, 0.00347497,
         0.00346615, 0.00345733, 0.00344852, 0.0034397 , 0.00343088,
         0.00342206, 0.00341324, 0.00340442, 0.0033956 , 0.00338678,
         0.00337796, 0.00336914, 0.00336032, 0.0033515 , 0.00334268,
         0.00333386, 0.00332504, 0.00331623, 0.00330741, 0.00329859,
         0.00328977, 0.00324567, 0.00323685, 0.00322803, 0.00321921]])}

In [ ]:
test=test.drop_duplicates(ignore_index=True)

In [ ]:
test

            ds  TMAX  Completed_Jobs  tech_count          y
0   2021-01-02    65              59          25   69089.17
1   2021-01-04    61             125          60  128210.29
2   2021-01-06    70             137          38  177410.42
3   2021-01-07    71              96          52   68424.71
4   2021-01-08    73             120          51  130406.40
..         ...   ...             ...         ...        ...
114 2021-04-30    81             222         126  210099.11
115 2021-05-01    68             168          75  119775.95
116 2021-05-05    69             202         124  230699.43
117 2021-05-08    68             109          75  112431.95
118 2021-05-13    63             177         114  199708.63

[119 rows x 5 columns]

In [ ]:
test

            ds  TMAX  Completed_Jobs  tech_count          y
0   2021-01-02    65              59          25   69089.17
1   2021-01-04    61             125          60  128210.29
2   2021-01-06    70             137          38  177410.42
3   2021-01-07    71              96          52   68424.71
4   2021-01-08    73             120          51  130406.40
..         ...   ...             ...         ...        ...
114 2021-04-30    81             222         126  210099.11
115 2021-05-01    68             168          75  119775.95
116 2021-05-05    69             202         124  230699.43
117 2021-05-08    68             109          75  112431.95
118 2021-05-13    63             177         114  199708.63

[119 rows x 5 columns]

In [ ]:
y_original=test['y']

In [ ]:
test_1=test.drop(['y'],axis=1)

In [ ]:
a=m.predict(test_1)

In [ ]:
a

            ds        trend  ...  weekly_upper           yhat
0   2021-01-02  1305.810764  ...  14323.467143   58416.436176
1   2021-01-02  1305.810764  ...  14323.467143   60294.640264
2   2021-01-04  1298.616575  ...  -8403.991730   95308.403545
3   2021-01-04  1298.616575  ...  -8403.991730   98537.511367
4   2021-01-06  1291.422386  ...  -2884.224130  105988.384479
..         ...          ...  ...           ...            ...
114 2021-05-04   866.965222  ...  -1949.337437  114173.779158
115 2021-05-05   863.368127  ...  -2884.224130  109781.821002
116 2021-05-06   859.771032  ...   -559.036229  115067.858800
117 2021-05-08   852.576843  ...  14323.467143   70753.650508
118 2021-05-13   834.591370  ...   -559.036229   94732.061680

[119 rows x 31 columns]

In [ ]:
y_pred=a['yhat']

In [ ]:
y_pred

0       58416.436176
1       60294.640264
2       95308.403545
3       98537.511367
4      105988.384479
           ...
114    114173.779158
115    109781.821002
116    115067.858800
117     70753.650508
118     94732.061680
Name: yhat, Length: 119, dtype: float64

In [ ]:
y_original

0       69089.17
1      128210.29
2      177410.42
3       68424.71
4      130406.40
         ...
114    210099.11
115    119775.95
116    230699.43
117    112431.95
118    199708.63
Name: y, Length: 119, dtype: float64

In [ ]:
from sklearn import metrics

In [ ]:
np.sqrt(metrics.mean_squared_error(y_original,y_pred))

71982.61605380119

In [ ]:
y_original.tail(36)

83     129378.30
84     199174.66
85     107821.05
86     116983.00
87      52330.20
88      45401.14
89     146179.99
90     144461.57
91     150804.58
92      33183.75
93     111854.06
94     170855.38
95     214339.31
96     100522.57
97     169657.57
98     106669.07
99        825.00
100    175095.83
101    114572.65
102    176344.04
103    148931.99
104    113512.26
105      2500.00
106    154596.71
107    238517.38
108    148232.92
109    206313.64
110    141749.03
111    187263.35
112    106125.24
113    136381.72
114    210099.11
115    119775.95
116    230699.43
117    112431.95
118    199708.63
Name: y, dtype: float64

In [ ]:

a[['ds','yhat','yhat_lower','yhat_upper']].tail(36)

            ds           yhat     yhat_lower     yhat_upper
83  2021-03-22   77718.772800 -100063.917461  246188.190844
84  2021-03-23   95417.484939 -106636.796883  297878.255252
85  2021-03-24   80376.082523  -98656.933841  272136.215293
86  2021-03-25   86936.572273 -100695.203102  280128.395565
87  2021-03-26  102289.883385 -123374.018502  332968.052626
88  2021-03-27   57039.987254  -60073.560763  186158.345351
89  2021-03-28   -2915.452967  -75351.077501   66769.595854
90  2021-03-29  104782.009573 -150960.330135  357310.248919
91  2021-03-30  114373.348947 -167665.444582  387681.313063
92  2021-03-31  127664.305368 -169297.370735  434820.881065
93  2021-04-01  111839.744261 -179370.784238  406054.801465
94  2021-04-02  115598.512053 -180254.601146  403699.808284
95  2021-04-03   69156.832073  -95662.138772  230250.650322
96  2021-04-05  104696.265070 -180127.937867  399713.725815
97  2021-04-06  128892.918482 -215671.421067  460412.269816
98  2021-04-07  122661.602462 -206814.928660  453751.562050
99  2021-04-08  109829.220560 -194928.778039  404450.136077
100 2021-04-09   97961.587033 -192448.174038  394891.989153
101 2021-04-10   78016.701539 -116454.504366  275958.842903
102 2021-04-12  115342.559330 -231925.063676  476595.544627
103 2021-04-13   96688.366192 -198475.914623  393921.815590
104 2021-04-14  103361.365035 -205629.893911  444343.341880
105 2021-04-16   94812.430762 -212588.821098  411474.875914
106 2021-04-21  112141.983509 -267700.623278  516768.822473
107 2021-04-23   82363.253892 -233593.736017  406908.118488
108 2021-04-24   72872.350716 -156148.727129  295960.954145
109 2021-04-25    3559.159169  -68697.415518   84668.659741
110 2021-04-26   80495.434948 -260052.732148  423098.909156
111 2021-04-27   92439.735858 -261412.049759  469822.815838
112 2021-04-30  120625.484360 -366940.893837  621693.465996
113 2021-05-01  105868.110861 -268512.328380  501511.355488
114 2021-05-04  114173.779158 -354368.145386  608297.792311
115 2021-05-05  109781.821002 -376999.924352  597238.948703
116 2021-05-06  115067.858800 -385159.000427  636718.085400
117 2021-05-08   70753.650508 -195359.331675  360662.910671
118 2021-05-13   94732.061680 -357904.065862  579877.095831

In [ ]:
test

           ds  TMAX  Completed_Jobs  tech_count     Avg_Sales          y
0  2020-12-31    65             105          40   5180.890000   76878.35
1  2021-01-02    65              59          25   4991.853333   69089.17
2  2021-01-04    61             125          60   4580.080323  128210.29
3  2021-01-06    70             137          38   3544.549655  177410.42
4  2021-01-07    71              96          52   3331.652778   68424.71
5  2021-01-08    73             120          51   3790.710741  130406.40
6  2021-01-09    74              47          18   5200.941667   41651.85
7  2021-01-10    71              11           7   1530.861667     102.95
8  2021-01-11    72             126          79   5824.473448  121328.92
9  2021-01-12    72             115          53   4275.505263   94156.55
10 2021-01-13    75             106          39   2544.906400   93428.49
11 2021-01-15    87             114          36   1949.944783   73106.96
12 2021-01-16    88              48          15   4369.950625   62484.03
13 2021-01-17    85               4          11  15490.000000   50088.00
14 2021-01-18    80             118          60   3801.440800   45289.92
15 2021-01-19    72             115          53   3344.845667   95437.44
16 2021-01-20    71             117          60   4938.087037  100674.86
17 2021-01-21    76              91          56   5045.792500   55735.08
18 2021-01-22    58              98          53   4890.750000   86421.80
20 2021-01-23    53              55          18   1629.587143   41343.95
21 2021-01-24    54               5          11  23997.600000   15788.00
22 2021-01-26    51             155          62   3874.873333  128985.55
23 2021-01-27    58             146          73   5623.049143   93402.16
24 2021-01-28    64             121          60   5922.232500  176747.02
25 2021-01-30    56              62          25   5791.800000   32502.40
26 2021-01-31    70              12           9    260.450000   55111.85
27 2021-02-01    74             121          50   3536.996667  133042.85
28 2021-02-02    71             123          60   6402.164074   88538.89
29 2021-02-03    67             107          61   4338.433913   66133.39
30 2021-02-04    67              91          48   3228.100000   67090.81